body {
  background-image: url("../images/zigzag-grey-lighter.svg");
  font-family: "Proxima Nova Light", Helvetica, sans-serif;
  color: #53565A;
}

h1 {
  margin-top: 1em;
  font-size: 2em;
  font-weight: bold;
}

h2 {
  margin-top: 0.75em;
  font-size: 1.6em;
}

h3 {
  font-size: 1.1em;
  font-weight: bold;
}

table {
  font-size: 80%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header {
  width: 100%;
}

.blue-triangles-darker {
  background: #426DA9;
  background-image: url("../images/triangles-blue-darker.PNG");
  background-repeat: repeat;
  background-size: 140px 140px;
  padding: 1em;
}

.green-circles-darker {
  background: #658D1B;
  background-image: url("../images/circles-green-darker.PNG");
  background-repeat: repeat;
  background-size: 90px 90px;
  padding: 1em;
}

.purple-dots-darker {
  background: #93328E;
  background-image: url("../images/dots-purple-darker.PNG");
  background-repeat: repeat;
  background-size: 110px 110px;
  padding: 1em;
}

.yellow-stripes-darker {
  background: #F1B434;
  background-image: url("../images/stripes-yellow-darker.PNG");
  background-repeat: repeat;
  background-size: 110px 110px;
  padding: 1em;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  padding: 0.2em 1em 0.2em 1em;
}

.navbar-nav > li {
  padding: 0 0.3em 0 0.3em;
}

.nav-logo {
  max-height: 2em;
}

.pms144-breakout, .pms205-breakout, .pms370-breakout, .pms2395-breakout, .pms7676-breakout {
  padding: 1em;
  margin: 0.5em;
}

.pms144-breakout {
  background: #ED8B00;
}

.pms205-breakout {
  background: #E0457B;
}

.pms370-breakout {
  background: #658D1B;
}

.pms2395-breakout {
  background: #C800A1;
}

.pms7676-breakout {
  background: #7566A0;
}

.proxima-nova-soft-bold {
  font-family: "Proxima Nova Soft Bold", Helvetica, sans-serif;
}
.proxima-nova-soft-medium {
  font-family: "Proxima Nova Soft Medium", Helvetica, sans-serif;
}

.proxima-nova-soft-regular {
  font-family: "Proxima Nova Soft Regular", Helvetica, sans-serif;
}

.proxima-nova-soft-semibold {
  font-family: "Proxima Nova Soft Semibold", Helvetica, sans-serif;
}

.translucent {
  background: white;
  background: rgba(255, 255, 255, 0.95);
  padding: 0 2em 1em 2em;
  margin: 2em 0 2em 0;
}

.vertical-spacer {
  height: 1em;
}

.white {
  color: white;
  margin-top: 0;
}
